In [1]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
OUTPUT_DIR = "./"
if not os.path.exists(OUTPUT_DIR):
    os.makedirs(OUTPUT_DIR)
    
BASE_DIR = "../input/rice-disease-classification/source"

train = pd.read_csv(os.path.join(BASE_DIR, 'train.csv'))
test = pd.read_csv(os.path.join(BASE_DIR, 'test.csv'))
solution = pd.read_csv(os.path.join(BASE_DIR, 'scoring.csv'))
sample_submission = pd.read_csv(os.path.join(BASE_DIR, 'sample_submission.csv'))

In [3]:
display(train.head())
display(test.head())
display(solution.head())
display(sample_submission.head())

   Unnamed: 0               Image_id    Label
0           0      id_0sil0chxq2.jpg    brown
1           1  id_ijed267eqx_rgn.jpg  healthy
2           2  id_cowrg71851_rgn.jpg    blast
3           3      id_miimicy82t.jpg  healthy
4           4  id_t27yi6h5le_rgn.jpg    brown

   Unnamed: 0               Image_id  Label
0           0  id_mpeaaaamgr_rgn.jpg      0
1           1  id_cz3jnoimvm_rgn.jpg      0
2           2  id_zz6gzk7p97_rgn.jpg      0
3           3  id_spb6rl009i_rgn.jpg      0
4           4      id_179bxdmt6m.jpg      0

   Unnamed: 0               Image_id  Label
0           0  id_mpeaaaamgr_rgn.jpg  blast
1           1  id_cz3jnoimvm_rgn.jpg  blast
2           2  id_zz6gzk7p97_rgn.jpg  brown
3           3  id_spb6rl009i_rgn.jpg  brown
4           4      id_179bxdmt6m.jpg  blast

   Unnamed: 0               Image_id  Label
0           0  id_mpeaaaamgr_rgn.jpg      0
1           1  id_cz3jnoimvm_rgn.jpg      0
2           2  id_zz6gzk7p97_rgn.jpg      0
3           3  id_spb6rl009i_rgn.jpg      0
4           4      id_179bxdmt6m.jpg      0

In [4]:
train = train.loc[:, ~train.columns.str.contains('^Unnamed')]
test = test.loc[:, ~test.columns.str.contains('^Unnamed')]
solution = solution.loc[:, ~solution.columns.str.contains('^Unnamed')]
sample_submission = sample_submission.loc[:, ~sample_submission.columns.str.contains('^Unnamed')]

In [5]:
test.drop('Label', axis = 1, inplace = True)

In [6]:
display(train.head())
display(test.head())
display(solution.head())
display(sample_submission.head())

                Image_id    Label
0      id_0sil0chxq2.jpg    brown
1  id_ijed267eqx_rgn.jpg  healthy
2  id_cowrg71851_rgn.jpg    blast
3      id_miimicy82t.jpg  healthy
4  id_t27yi6h5le_rgn.jpg    brown

                Image_id
0  id_mpeaaaamgr_rgn.jpg
1  id_cz3jnoimvm_rgn.jpg
2  id_zz6gzk7p97_rgn.jpg
3  id_spb6rl009i_rgn.jpg
4      id_179bxdmt6m.jpg

                Image_id  Label
0  id_mpeaaaamgr_rgn.jpg  blast
1  id_cz3jnoimvm_rgn.jpg  blast
2  id_zz6gzk7p97_rgn.jpg  brown
3  id_spb6rl009i_rgn.jpg  brown
4      id_179bxdmt6m.jpg  blast

                Image_id  Label
0  id_mpeaaaamgr_rgn.jpg      0
1  id_cz3jnoimvm_rgn.jpg      0
2  id_zz6gzk7p97_rgn.jpg      0
3  id_spb6rl009i_rgn.jpg      0
4      id_179bxdmt6m.jpg      0

In [7]:
sample_submission = test
sample_submission['Label'] = 0

In [8]:
sample_submission.head()

                Image_id  Label
0  id_mpeaaaamgr_rgn.jpg      0
1  id_cz3jnoimvm_rgn.jpg      0
2  id_zz6gzk7p97_rgn.jpg      0
3  id_spb6rl009i_rgn.jpg      0
4      id_179bxdmt6m.jpg      0

In [9]:
os.listdir("./")

['__notebook__.ipynb']

In [10]:
train.to_csv("./train.csv" , index=False)
test.to_csv("./test.csv",index=False)
solution.to_csv("./solution.csv", index=False)
sample_submission.to_csv("./sample_submission.csv", index=False)